<% include partials/header.ejs %>
<div class="container">
    <h5>Edit <%= historyarticle.title %></h5>
    <form action="/history/<%= historyarticle._id %>?_method=PUT" method="POST">
        <label><strong>Title: </strong></label><input type="text" name="historyarticle[title]" value="<%= historyarticle.title %>">
        <label><strong>Image: </strong></label><input type="text" name="historyarticle[image]" value="<%= historyarticle.image %>">
        <label><strong>Content: </strong></label><textarea name="historyarticle[content]"><%= historyarticle.content %></textarea>
        <input type="submit">
    </form>
</div>
<% include partials/footer.ejs %>