<% include partials/header.ejs %>
<main class="container">
<% historyarticles.forEach(function(historyarticle){ %>
    <article>
        <h2><%= historyarticle.title %></h2>
        <div><img class="img-fluid rounded" src="<%= historyarticle.image %>"></div>
        <strong><span><%= historyarticle.created.toDateString() %></span></strong>
        <div>
            <strong>Content: </strong><%= historyarticle.content.substring(0, 300) %>
        </div>
        <a href="/history/<%= historyarticle._id %>">Read Article</a>
    </article>
<% }); %>
</main>
<% include partials/footer.ejs %>