<% include partials/header.ejs %>
<div class="container">
    <div class="show-title">
        <h2><%= historyarticle.title %></h2>
    </div>
    <div>
        <img class="show-image rounded" src="<%= historyarticle.image %>">
    </div>
    <hr>
  <div class="row">
    <div class="card-body col-lg-12 col-md-12 col-sm-12">
        <%= historyarticle.content %>
    </div>
  </div>
    <hr>
    <div class="date">
            <strong><%= historyarticle.created.toDateString() %> - Author</strong>
    </div> 
    <form class="form-show" action="/history/<%= historyarticle._id %>?_method=DELETE" method="POST">
        <button class="btn btn-light">Delete</button>
        <a href="/history/<%= historyarticle._id %>/edit" class="btn btn-dark">Edit</a>
        <a href="/history" class="btn btn-dark">Back</a>
    </form>
</div>

<div class="container">
    <hr>
    <h5>Comments</h5>
    <div class="well">

    </div>
    <div>
        <form class="commentform" action="/history/<%= historyarticle._id %>/comments" method="POST">
            <h6>Write a Comment:</h6>
            
            <label>Nickname: </label><input class="form-control" type="text" name="comment[title]" placeholder="Insert Nickname">
            <label>Comment: </label><textarea rows="3" class="form-control" name="comment[text]" placeholder="Your comment"></textarea>
            <div class="text-right">
                <a class="btn btn-dark pull-right" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new comment</a>
            </div>
        </form>
    </div>

</div>

<% include partials/footer.ejs %>